    <style>
        body {
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 20px;
            gap: 20px;
        }
        .headernavbar {
            display:flex;
            width: auto;
            justify-content: center;
            align-items: center;
            height: 50px;
            border-radius: 70px;
            gap: 20px;
            background-color: rgb(236, 236, 236);
            border: 2px solid darkred;
            padding-right: 40px;
            padding-left: 40px;
        }
        .logo {
            width: 40px;
            height: 40px;
        }
        .headernavbar > button {
            width: 140px;
            height: 40px;
            border-radius: 60px;
            border: none;
            background-color: transparent;
            transition: background-color 0.2s;
        }
        .headernavbar > button:hover {
            background-color: rgb(167, 167, 167);
        }
        .home {
            background-image: url(home.png);
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: center;
        }
        .trees {
            background-image: url(tree.png);
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: center;
            background-color: darkgray;
        }
        .search {
            background-image: url(search.png);
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: center;
        }
        .user {
            background-image: url(user.png);
            background-size: 30px;
            background-repeat: no-repeat;
            background-position: left center;
            text-align: center;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color:darkred;
            font-size: 15px;
        }
        .mainbody {
            display: flex;
            gap: 50px;
            border-top: 1px solid darkred;
            padding-top: 10px;
        }
        .postcontainer {
            width: 520px;
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .postarea {
            width: 490px;
            border: 1px solid darkgray;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .postfeed {
            width: 500px;
            height: auto;
            display:flex;
            flex-direction: column-reverse;
            gap: 7px;
        }
        .postbtn {
            width: 50px;
            margin-left: 445px;
            height: 30px;
            color: white;
            border: none;
            background-color: darkred;
            margin-bottom: 5px;
            border-radius: 30px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        .postbtn:hover {
            background-color: rgb(90, 1, 1);
        }
        .footerbar {
            position: fixed;
            bottom: 0;
            right: 0;
            width: 490px;
            height: 40px;
            border-radius: 60px;
            border: none;
            background-color: transparent;
            transition: background-color 0.2s;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            border: 1px solid darkred;
            background-color: rgb(236, 236, 236);
        }
        .currenttree {
            width: 220px;
            height: 30px;
            border-radius: 60px;
            border: none;
            background-image: url(tree.png);
            background-repeat: no-repeat;
            background-size: 10px;
            background-position: left center;
            background-position-x: 10px;
            background-color: rgb(217, 216, 216);
            transition: background-color 0.2s;
            color: darkred;
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            text-decoration: none;
            text-align: center;
        }
        .currenttree:hover {
            background-color: rgb(167, 167, 167);
        }
        .postfeed > div {
            display: flex;
            border: 2px solid darkred;
            height: 40px;
            width: 500px;
            overflow: auto;
            border-radius: 30px;
            align-items: left;
        }
        .a {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 15px;
            font-weight: 670;
            text-decoration: none;
            color: darkred;
        }
        .userlinkage {
            text-decoration: none;
            color: darkred;
        }
        .homelink {
            opacity: 0;
        }
    </style>

<div class="headernavbar">
        <img class="logo"src="Logo.png" alt="Pecking..">
        <button class="home">
            <%= link_to "Homeeeeeeeeeeeee", root_path, class: "homelink"%>
        </button>
        <button class="trees"></button>
        <button class="search"></button>
        <button class="user">
            <% if Current.user%>
                <%= link_to Current.user.username, user_path, class: "userlinkage"%>
            <% else %>
                <%= link_to "Log In", root_path, class: "userlinkage"%>
            <% end %>
        </button>
    </div>
    <div class="mainbody">
        <div class="postcontainer">
            <!-- This is a form layout
            <form action="<?php echo $_SERVER['PHP_SELF'];?>" class="poster" method="POST">
                <textarea name="post" id="" cols="30" rows="10" class="postarea" placeholder="Spam a message!"></textarea>
                <input type="text" class="pecker" name="times" value="1">
                <input type="submit" class="postbtn" value="Peck">
            </form>
            -->
            <%= form_with model: @branch, url: branchlist_path do |form| %>
                <div class="postareacontainer">
                    <%= form.text_field :name, class: "postarea", placeholder: "Name of Branch" %>
                </div>
                <div class="postbtncontainer">
                    <%= form.submit "Create Branch", class: "postbtn" %>
                </div>
            <% end %>
            <div class="postfeed">
                <!-- This is a post layout
                <div class="">
                    <img src="images/Logo.png" alt="Pecking...">
                    <a>User1</a>
                    <p>This is a test post</p>
                </div>
                -->
                <% if Current.user.branches %>
                    <% @branches = Branch.where(user_id: Current.user.id)%>
                    <% @branches.each do |branch| %>  
                        <div>
                            <%= link_to branch.name, branch_path(:branchname => branch.name), class: "a"%>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="footerbar">
        <%= link_to "Home Forest", dashboard_path, class: "currenttree"%>
        <%= link_to ">> Next Tree", music_path, class: "currenttree"%>
    </div>